li {
    margin-bottom: 10px;
    color: gold;
    list-style: upper-roman;
    text-decoration: none;
}
#img {
    width: 450px;
    padding-bottom: 20px 
}
.list_gold {
    color: goldenrod;
    text-decoration: none;
}
.href {
    text-decoration: none !important;
    color: white;
}
/* Icon */
.btn-git {
    background: linear-gradient(140deg, #03001e,#7303c0,#ec38bc,#fdeff9);
    color: white;
}
.btn-yt {
    background: linear-gradient(#e52d27, #b31217);
    color: white;
}
.btn-so {
    background: linear-gradient(110deg, #d38312, #a83279);
    color: white;
}
.btn-steam {
    background: linear-gradient(120deg, #000046, #1cb5e0);
    color: white;
}

@media only screen and (max-height: 600px){
    #img{
    width:100% !important;
    }
}


@media only screen and (max-width: 500px){
    #img{
        width:100% !important;
    }
}