li {
    color: rgb(196, 119, 4);
    list-style: decimal-leading-zero;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
dl{
    display: block;
}
/* # */
#h2 {
    color: darkcyan;
}
#audio_test{
    width: 550px;
    z-index: -1;
}
#video {
    width: 550px;
}
#youtube_border_on {
    width: 550px;
    height: 350px;
    border: 1px silver solid;
}
#youtube_border_off {
    width: 550px;
    height: 350px;
    border: 0px solid transparent;
}
#img_emmet_html {
    width: 550px;
}
#img_emmet_div {
    width: 550px;
}
#img_bea {
    width: 550px;
}
#img_vscode_live_server{
    width: 550px;
}
#img_tree_icon{
    width: 550px;
}
#img{
    width: 550px;
    height: 350px;
}
#b_more{
    text-decoration: none;
}
.text_center{
    text-align: center;
}
.text_font{
    text-align: center;
}
.text_font:hover{
    opacity: 0.4;
}
.media_img{
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width:800px){
    video,audio{
        width: 100% !important;
    }
    .media_img, #img, #img_tree_icon, #img_vscode_live_server, #img_vscode_live_server, #img_bea, #img_emmet_div, #img_emmet_html {
        width: 100% !important;
    }
    #youtube_border_off{
        width: 100% !important;
        height: 30% !important
    } 

    #youtube_border_on{
        width: 100% !important;
        height: 30% !important
    }
}

@media only screen and (max-height:600px){
    video,audio{
        width: 100%  !important;
    }

    .media_img, #img, #img_tree_icon, #img_vscode_live_server, #img_vscode_live_server, #img_bea, #img_emmet_div, #img_emmet_html {
        width: 100% !important;
    }
}