
@media only screen and (max-height:600px){
    video,audio{
        width: 100%  !important;
    }

    .media_img, #img, #img_tree_icon, #img_vscode_live_server, #img_vscode_live_server, #img_bea, #img_emmet_div, #img_emmet_html {
        width: 100% !important;
    }
}