li {
    color: darkgoldenrod;
    list-style: decimal;
}
#left {
    float: left;
    background-color: silver;
    text-decoration: none;
}
#right {
    background-color: silver;
    float: right;
    text-decoration: none;
}
#dk {
    color: #ffcf00 
}
#cd{
    font-size: 40px;
    text-decoration: none;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px 0 white;
    padding: 1px 20px;
}
.row {
    height: 100vh;
}
.button {
    margin: 20px;
    background-image: url(../images/gif/spiderman.gif);
    border: silver 1.5px solid;
}
.button_one {
    margin: 20px;
    background-image: url(../images/gif/boat.gif);
    border: solid silver 1.5px;
    color: white 
}
