body, html {
    height: 100%;
    margin: 0;
}
hr{
    margin: auto;
    width: 40%;
}
.bgimg {
    background-image: url(../images/jpg/wood.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-size: 20px;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.navbar {
    font-family: monospace;
    overflow: hidden;
    font-size: 14px;
    background-color: #232323;
    border-bottom: solid 2px silver;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    opacity: 0.8;
}
