html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
#jack_frost {
    width: 45px;
    height: 45px;
}
.shadow{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.active{
    color: lightcyan !important;
}
.header {
    padding: 120px;
    text-align: center;
    background-image: url(../images/gif/circle.gif);
    background-position: center;
    background-size: 1600px 900px;
}
.navbar {
    background-color: #111 !important;
}
.dropdown-menu {
    background-color: #222;
    border:whitesmoke 2px solid;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover{
    color: #000;
    opacity: 0.5;
}
/* Row */
.container_row {
    flex-wrap: wrap;
    display: flex;
}
/* Side */
.side {
    flex: 35%;
    padding: 20px;
}
/* Main */
.main {
    flex: 65%;
    padding: 20px;
}
