#img {
    width: 400px;
}
#video {
    width: 1000px;
}
#left {
    float: left;
    background-color: silver;
    text-decoration: none;
}
#right {
    background-color: silver;
    float: right;
    text-decoration: none;
}
#np {
    float: right 
}
